In [1]:
import pandas as pd
#from pandas_profiling import ProfileReport
from persiantools.jdatetime import JalaliDate
from persiantools.jdatetime import JalaliDateTime
import matplotlib.pyplot as plt
from matplotlib import pyplot
%matplotlib inline
import seaborn as sns
import datetime, pytz
import math
import numpy as np

In [2]:
Data=pd.read_excel("/media/sda6/Projects/Data Mining on gas Network/output.xls",dtype={'TOF':"category", 'AF':"category",
       'DS':"category", 'feeder':"category",'TOP':"category", 'Relay':"category", 'COB':"category", 'PD':"category",
       'COP':"category","DOFDB":"float64"})

In [3]:
time=list()
for i in Data['DFB']:
    i=i.split()
    yeardaymonth=i[0].split("/")
    hourandminute=i[1].split(":")
    time.append(JalaliDateTime(int(yeardaymonth[0]),int(yeardaymonth[1]),int(yeardaymonth[2]),int(hourandminute[0]),int(hourandminute[1])).to_gregorian())
Data['DFB']=time

In [4]:
time=list()
for i in Data['CFB']:
    try:
        i=i.split()
        yeardaymonth=i[0].split("/")
        hourandminute=i[1].split(":")
        time.append(JalaliDateTime(int(yeardaymonth[0]),int(yeardaymonth[1]),int(yeardaymonth[2]),int(hourandminute[0]),int(hourandminute[1])).to_gregorian())
    except:
        time.append(float("NaN"))
Data['CFB']=time

In [5]:
time=list()
for i in Data['PS']:
    try:
        i=i.split()
        yeardaymonth=i[0].split("/")
        hourandminute=i[1].split(":")
        time.append(JalaliDateTime(int(yeardaymonth[0]),int(yeardaymonth[1]),int(yeardaymonth[2]),int(hourandminute[0]),int(hourandminute[1])).to_gregorian())
    except:
        time.append(float("NaN"))
Data['PS']=time

In [6]:
print(Data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1649 entries, 0 to 1648
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   BN      1649 non-null   int64
 1   TOF     1649 non-null   category
 2   AF      1649 non-null   category
 3   DS      1649 non-null   category
 4   feeder  1649 non-null   category
 5   RC      1649 non-null   float64
 6   TOP     1649 non-null   category
 7   Relay   1649 non-null   category
 8   COB     1649 non-null   category
 9   PD      858 non-null    category
 10  COP     807 non-null    category
 11  DFB     1649 non-null   datetime64[ns]
 12  CFB     1646 non-null   datetime64[ns]
 13  DOFDB   1649 non-null   float64
 14  PS      812 non-null    datetime64[ns]
 15  STOLP   813 non-null    float64
 16  EENS    1649 non-null   float64
dtypes: category(9), datetime64[ns](3), float64(4), int64(1)
memory usage: 125.9 KB
None

In [7]:
Data=Data.sort_values("DFB",ignore_index=True)

In [13]:
Data[Data.feeder=="A"].reset_index().sort_values("DFB",ignore_index=True)[["feeder","DFB"]]

    feeder                 DFB
0        A 2019-03-21 06:54:00
1        A 2019-03-22 16:26:00
2        A 2019-03-25 17:54:00
3        A 2019-03-26 00:57:00
4        A 2019-03-29 00:42:00
..     ...                 ...
183      A 2020-03-11 09:54:00
184      A 2020-03-14 09:23:00
185      A 2020-03-18 02:24:00
186      A 2020-03-19 02:55:00
187      A 2020-03-19 04:25:00

[188 rows x 2 columns]

In [9]:
def diff(FEEDER,DATA):
    DATA=DATA[DATA.feeder==FEEDER].reset_index().sort_values("DFB",ignore_index=True)
    pois=list()
    for i in range(DATA.shape[0]-1):
        pois.append((DATA.DFB[i+1]-DATA.DFB[i]).days)
    return pois

In [10]:
for i in pd.unique(Data.feeder):
    print(i,": ",np.mean(diff(i,Data)))

A :  1.4919786096256684
B :  6.037735849056604
C :  1.6534090909090908
D :  1.4947368421052631
E :  3.2448979591836733
F :  2.1956521739130435
G :  2.393700787401575
H :  2.4796747967479673
I :  1.4375
J :  2.6206896551724137
K :  1.9337748344370862
L :  6.113207547169812
M :  18.470588235294116
N :  40.57142857142857
O :  47.166666666666664